SENTIMENT_MODEL_PATH=models/sentiment_model
BOT_MODEL_PATH=models/bot_model
SENTIMENT_LABELS=Bueno,Regular,Malo
BOT_LABELS=No bot,Bot
MAX_TEXT_LENGTH=512
MODEL_MAX_TOKENS=192
ALLOW_DEGRADED_MODE=true

